<main role="main" class="bg-light main-top">
    <app-cart-top *ngIf="updateTopCart"></app-cart-top>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-12" *ngIf="orderSuccess">
                <!-- <div class="alert alert-success text-center">Thank you for placing order</div> -->
                <div class="alert alert-success text-center" role="alert">
                    <h4 class="alert-heading">Well done!</h4>
                    <p>Thank you for placing order, We will contact you soon. </p>
                    <hr>
                    <p class="mb-0">Note: We accept payment by Transfer to A/c or Paytm or Transfer via UPI (Tez,BHIM,PhonePe etc...) </p>
                    <p><a href="#" routerLink="/home" class="alert-link">Click here to Continue shopping</a></p>
                </div>
            </div>
            <div class="col-sm-12 col-md-6" *ngIf="!orderSuccess">
                <div class="alert alert-danger" *ngIf="validForm">{{validationMessage}}</div>
                <input type="text" [(ngModel)]="user.name" placeholder="Name" class="form-control"><br>
                <input type="text" [(ngModel)]="user.email" placeholder="Email" class="form-control"><br>
                <input type="text" [(ngModel)]="user.mobile" placeholder="Mobile" class="form-control"><br>
                <textarea class="form-control" [(ngModel)]="user.address" rows="5" placeholder="Address"></textarea><br>
                <button class="btn btn-primary" (click)="confirm_order()" [disabled]="IsOrderProcessing">Order Confirmation<i *ngIf="IsOrderProcessing" class="fa fa-spinner fa-spin"></i></button>

                <button class="btn btn-default" routerLink="/home">Continue to shop</button>

            </div>
            <div class="col-sm-12 col-md-6" *ngIf="!orderSuccess">
                <table class="table">
                    <tr>
                        <th>Product</th>
                        <th>Title</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                    </tr>
                    <tr *ngFor="let m of checkoutList; let i=index">

                        <td>
                            <a [routerLink]="'/product/'+m.Code"><img style="width:70px" [src]="thumbPath + m.Image" [alt]="m.Title" [title]="m.Title"></a>
                        </td>
                        <td style="width:300px;"><a [routerLink]="'/product/'+m.Code">{{m.Title}} ({{m.Code}})</a></td>

                        <td>₹ {{m.Price}}</td>
                        <td>{{m.Quantity}}</td>
                        <td>₹ {{m.Quantity * m.Price}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><b>SubTotal</b></td>
                        <td> ₹ {{subTotal}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</main>