<main role="main" class="bg-light main-top">
    <app-cart-top *ngIf="updateTopCart"></app-cart-top>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <input type="text" placeholder="Name" class="form-control"><br>
                <input type="text" placeholder="Mobile" class="form-control"><br>
                <textarea class="form-control" rows="5" placeholder="Query/Suggestion/Report Bug"></textarea><br>
                <button class="btn btn-primary">Send</button>

            </div>
            <div class="col-sm-12 col-md-6">
                <p>Whatsapp :
                    <a href="tel:8861272060">+91-8861272060</a>
                </p>
                <p>&nbsp;</p>
                <p>Email : srabostir.karukarjo2018@gmail.com</p>
                <p>&nbsp;</p>

                <p>Facebook :
                    <a href="https://www.facebook.com/Srabostir/" target="_blank">https://www.facebook.com/Srabostir/</a>
                </p>

            </div>
        </div>
    </div>
</main>