<!-- <nav class="navbar navbar-expand-lg navbar-light">
    <button class="navbar-toggler" type="button" (click)="toggleMenu()">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="navbar-collapse {{collapse}}" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a *ngFor="let m of topMenu let i=index" (click)="makeActive(i,m.Url)" class="menu-link {{m.isActive?'active':''}}">{{m.Name}}</a>
        </div>
    </div>
</nav> -->
<div class="topbar">

</div>
<div class="main-box text-center">
    <em (click)="routeToHome()">
    <h2 style="display: inline;">
        <span style="color: #c31616;">Srabostir</span>
        <span style="color: #dea914;">Karukarjo</span>
    </h2>
</em>
    <ul class="menu">

        <li>
            <a href="#">Products &#9662;</a>
            <ul class="dropdown">
                <li><a (click)="categoryFilter('laptop')">Laptops</a></li>
                <li><a href="#">Monitors</a></li>
                <li><a href="#">Printers</a></li>
            </ul>
        </li>
        <li *ngFor="let m of categoryList"><a (click)="categoryFilter(m)">{{m}}</a></li>
    </ul>
</div>
<router-outlet></router-outlet>
<footer style="padding: 14px; color:#333;width: 100%; background-color: #e1e1df;">
    <div class="row">
        <div class="col-sm-12 col-md-4 text-center">
            <ul>
                <li><a routerLink="/about">About Us</a></li>
                <li><a routerLink="/designer">Our Designers</a></li>
                <li><a routerLink="/contact">Contact Us</a></li>
            </ul>

        </div>
        <div class="col-sm-12 col-md-4 text-center">
            <ul>
                <li><a routerLink="/return">Returns &amp; Refunds</a></li>
                <li><a routerLink="/faq">Shipping FAQ</a></li>
                <li><a routerLink="/privacy">Privacy Policy</a></li>
                <li><a routerLink="/tnc">Terms of Use</a></li>
            </ul>
        </div>
        <div class="col-sm-12 col-md-4 text-center">
            <h4>Contact Us</h4>
            <i class="fab fa-whatsapp"></i> : <a href="https://api.whatsapp.com/send?phone=8861272060">+91-8861272060</a> <br>
            <i class="far fa-envelope"></i> : <a href="mailto:srabostir.karukarjo2018@gmail.com">srabostir.karukarjo2018@gmail.com</a> <br>
            <i class="fab fa-facebook-f"></i> : <a href="https://www.facebook.com/Srabostir/" target="_blank">facebook.com/Srabostir</a> <br>

        </div>
    </div>

    <div class="container-fluid text-center">
        &copy; SRKK 2018
    </div>
</footer>