<header>
    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
        <em>SRKK</em>

        <ul class="list-unstyled">
            <li *ngFor="let m of topMenu let i=index">
                <a (click)="makeActive(i,m.Url)" class="text-white menu-link {{m.isActive?'active':''}}">{{m.Name}}</a>
            </li>
            <!-- <li><a (click)="" class="text-white menu-link {{page=='home'?'active':''}}">Home</a></li>
            <li><a [routerLink]="['/about']" class="text-white menu-link {{page=='about'?'active':''}}">About Us</a></li>
            <li><a [routerLink]="['/contact']" class="text-white menu-link {{page=='contact'?'active':''}}">Contact</a></li> -->
        </ul>
    </nav>
</header>
<router-outlet></router-outlet>
<footer style="padding: 14px;">
    <div class="container-fluid">
        &copy; SRKK
    </div>
</footer>