<main role="main" class="bg-light main-top">
    <app-cart-top *ngIf="updateTopCart"></app-cart-top>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-5">
                <img _ngcontent-c2="" alt="Card image cap" class="card-img-top" [src]="largePath + productData.Image">
            </div>
            <div class="col-sm-12 col-md-7">
                <p class="product-title">{{productData.Title}}</p>
                <small>₹ {{productData.Price}}</small>
                <p class="description">{{productData.Description}}</p>
                <p class="description">{{productData.Description1}}</p>
                <button class="btn btn-primary" (click)="addToCart(productIndex)">Add to cart</button>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <button routerLink="/checkout" class="btn btn-danger">Checkout</button>
            </div>
        </div>
    </div>
</main>