<main role="main" class="bg-light main-top">
    <app-cart-top *ngIf="updateTopCart"></app-cart-top>
    <div class="container-fluid" *ngIf="productData">
        <div class="row">
            <div class="col-sm-12 col-md-5">
                <img _ngcontent-c2="" alt="Card image cap" class="card-img-single" [src]="productData.Image">
            </div>
            <div class="col-sm-12 col-md-7">


                <p class="product-title">{{productData.Title}}</p>
                <i class="product-sub-title">{{productData.SubTitle}}</i>
                <small>₹ {{productData.Price}}</small>
                <p class="description">{{productData.Description}}</p>
                <p>&nbsp;</p>
                <p class="description">{{productData.Description1}}</p>
                <p>&nbsp;</p>
                <div *ngIf="productData.OtherImages">
                    <a class="sub-image-a" *ngFor="let m of productData.OtherImages">
                        <img class="sub-image" [src]="largePath+m" (click)="changePath(largePath + m)">
                    </a>
                </div>
                <button class="btn btn-primary " (click)="addToCart(productIndex) ">Add to cart</button>
                <button routerLink="/checkout" class="btn btn-success">Checkout</button>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
            </div>
        </div>
    </div>
</main>
<div id="snackbar">1 item added to Cart</div>
<!-- <ngx-image-zoom thumbImage="./assets/images/thumb/DSCT_1.jpg" fullImage="./assets/images/large/DSCL_1.jpg"></ngx-image-zoom> -->